* {
   box-sizing: border-box;
}

body {
   background-color: black;
   color: #d3d3d3;
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

button {
   border: none;
}

ul li {
   list-style: none;
}

a:visited {
   color: white;
}

select,
input,
textarea,
label {
   display: block;
}

input[type="submit"] {
   background: greenyellow;
}

#cancel-btn {
   background: rgb(233, 64, 64);
   color: white;
}

form {
   width: 500px;
}

td {
   border: 1px solid #fff;
   padding: 10px 20px 0 20px;
}

input[type="file"] {
   display: none;
}

.action-btn {
   margin: 0 5px;
   color: white;
   background: rgb(41, 156, 93);
   padding: 7px 10px;
}

.img-display {
   width: 50px;
   height: 50px;
}

.img-label {
   width: 120px;
   height: 120px;
   margin: 0 5px 0 0;
   background-color: rgba(177, 174, 174, 0.5);
}

.img-label-container {
   position: relative;
   background: black;
   display: inline;
}

.img-reset-btn {
   border-radius: 2px;
   position: absolute;
   right: 5px;
   background-color: rgba(255, 255, 255, 0.5);
}

.image-edit-txt {
   position: absolute;
   z-index: 9999;
   right: 35px;
   top: -70px;
   font-size: 20px;
   font-weight: bold;
   color: #b1c4cf;
}

.img-label:hover,
.img-reset-btn:hover,
.image-edit-txt:hover {
   cursor: pointer;
}
